T01_BRAIN/venv
T01_BRAIN/features
T01_BRAIN/outputs
T01_BRAIN/spectrogram
T02_LANGUAGE/venv
T02_LANGUAGE/features
T02_LANGUAGE/outputs
T02_LANGUAGE/spectrogram
T03_LARYNX/venv
T03_LARYNX/features
T03_LARYNX/outputs
T03_LARYNX/spectrogram
venv/
log.txt
log_validation.txt
confusion_matrix_*.png
*.pt
*.ptl
*.pth